@page
@model SlimeTAP.Pages.Main.main


@{
    ViewData["Title"] = "main";
}
@{
    Layout = null; // Pode ser vazio ou null
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SlimeTAP</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />


    <script>
        function logout() {
            document.cookie = "UsuarioNome=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = '/Login/login';
        }
    </script>
</head>
<body>
  <div class="background2"></div>
  <div class="stone-floor"></div>
  <div class="div1">
      <div class="container">
        <div class="barra-superior">
          <div class="icone2" onclick="mudarTela(1)">
            <i class="fas fa-flask"></i>
            <span>XP</span>
          </div>
          <div class="icone2" onclick="mudarTela(2)">
            <i class="fas fa-coins"></i>
            <span>Gold</span>
          </div>
          <div class="icone2" onclick="mudarTela(3)">
            <i class="fas fa-gem"></i>
            <span>Diamante</span>
          </div>
          <div class="icone2" onclick="mudarTela(4)">
            <i class="fas fa-clock"></i>
            <span>Wipe</span>
          </div>
        </div>
        
        <div class="tela">
          <div class="informacao-tela">
              <h1>XP</h1>
              <h2><p>'<b>  @Model.Level</b> '    Pontos disponiveis para gastar.</p></h2>
              <p><i>A cada nivel que voce passa voce ganha um de credito para gastar aqui.</i></p>
            </div>


          <div class="upgrade">
            <div class="icone"></div>
              <div class="conteudo">
                <h3>SLIMES TOTAIS</h3>
                <p>Voce ganha um slime que multiplica seus ganhos x10.</p>
                <p>Nível atual: <span class="quantidade">@Model.UpgradeValue</span></p>
              </div>
              <form asp-page-handler="IncrementSlime">
                <button type="submit" class="botao">@Model.Custo Xp</button>
              </form>
            </div>

          <div class="upgrade">
            <div class="icone"></div>
              <div class="conteudo">
                <h3>MULTIPLICADOR DE MOEDAS</h3>
                <p>Ganha mais 0.1 no seu multiplicador de moedas.</p>
                <p>Nivel do multiplicador atual: <span class="quantidade">@Model.Multiplicador</span></p>
              </div>
              <form asp-page-handler="IncrementMultiplicador">
                <button type="submit" class="botao">@Model.Custo2 Xp</button>
              </form>
            </div>

          <div class="upgrade">
            <div class="icone"></div>
              <div class="conteudo">
                <h3>MULTIPLICADOR DE XP</h3>
                <p>Ganha mais 0.1 no seu multiplicador de XP.</p>
                <p>Nivel do multiplicador atual: <span class="quantidade">@Model.Upgrade3</span></p>
              </div>
              <form asp-page-handler="IncrementMultiplicadorXp">
                <button type="submit" class="botao">@Model.Custo3 Xp</button>
              </form>
            </div>
    
          <!-- Adicione mais upgrades aqui -->
        </div>
        <div class="tela">
          <!-- Conteúdo da segunda tela -->
          <div class="informacao-tela">
              <h1>GOLD</h1>
              <h2><p>'<b>  @Model.Moeda</b> '    Moedas disponiveis para gastar.</p></h2>
              <p><i>A cada clike na tela voce ganha @Model.Multiplicador de moeda's para gastar aqui.</i></p>
            </div>

            <div class="upgrade">
              <div class="icone"></div>
              <div class="conteudo">
                <h3>DEDO DE MIDAS</h3>
                <p>A cada nivel voce ganha +1% de chance de dobra os gold no seu click</p>
                <p>Nivel do multiplicador atual: <span class="quantidade">@Model.existingUser.Upgrade4 %</span></p>
              </div>
              <form asp-page-handler="IncrementDobroMoedas">
                <button type="submit" class="botao">@Model.Custo4 G</button>
              </form>
            </div>

            <div class="upgrade">
              <div class="icone"></div>
              <div class="conteudo">
                <h3>SABIO SABIDO</h3>
                <p>A cada nivel voce ganha +1% de chance de dobra o XP no seu click</p>
                <p>Nivel do multiplicador atual: <span class="quantidade">@Model.existingUser.Upgrade5 %</span></p>
              </div>
              <form asp-page-handler="IncrementDobroXp">
                <button type="submit" class="botao">@Model.Custo5 G</button>
              </form>
            </div>
            <div class="upgrade">
            <div class="icone"></div>
            <div class="conteudo">
              <h3>QUEBRANDO A BANCA</h3>
              <p>A cada nivel voce ganha 0.1 de multiplicador nos seus ganhos de gema no wipe.</p>
              <p>Nivel do multiplicador atual: <span class="quantidade">@Model.existingUser.Upgrade5</span></p>
            </div>
            <form asp-page-handler="IncrementDobroXp">
              <button type="submit" class="botao">@Model.Custo5 D</button>
            </form> 
          </div>
        </div>
        <div class="tela">
          <!-- Conteúdo da terceira tela -->
          <div class="informacao-tela">
            <div class="informacao-tela">
              <h1>GEMA</h1>
              <h2><p>'<b>  @Model.Diamante</b> '    Diamantes's disponiveis para gastar.</p></h2>
              <p><i>A cada level que voce upar ganha 2 diamantes.</i></p>
            </div>
          </div>
          <div class="upgrade">
            <div class="icone"></div>
            <div class="conteudo">
              <h3>QUEBRANDO A BANCA</h3>
              <p>A cada nivel voce ganha 0.1 de multiplicador nos seus ganhos de gema no wipe.</p>
              <p>Nivel do multiplicador atual: <span class="quantidade">@Model.existingUser.Upgrade6</span></p>
            </div>
            <form asp-page-handler="IncrementDobroXp">
              <button type="submit" class="botao">@Model.Custo6 D</button>
            </form> 
          </div>
        </div>
        <div class="tela">
          <!-- Conteúdo da terceira tela -->
          <div class="informacao-tela">
            <div class="informacao-tela">
              <h1>GEMA</h1>
              <h2><p>'<b>  @Model.Gema</b> '    Gema's disponiveis para gastar.</p></h2>
              <p><i>A cada Wipe voce ganha gemas baseado no seu xp e gold acumulado ate aqui clicar aqui reseta seu rank... ao clicar no botao Wipe voce resetara sua conta mantera suas gemas e upgrades dentro da categoria wipe e adicionara mais <B>@Model.WipeValor</B> a seu montante.</i></p>
            </div>
          </div>
          <form asp-page-handler="Wipe">
            <button type="submit" class="botao">WIPE</button>
          </form>
          <div class="upgrade">
            <div class="icone"></div>
            <div class="conteudo">
              <h3>MULTIPLICADOR DE MOEDAS</h3>
              <p>Ganha mais 0.1 no seu multiplicador de moedas.</p>
              <p>Nivel do multiplicador atual: <span class="quantidade">@Model.existingUser.Upgrade10</span></p>
            </div>
            <form asp-page-handler="IncrementMultiplicadorGema">
            <button type="submit" class="botao">@Model.Custo10 G</button>
            </form>
          </div>

          <div class="upgrade">
            <div class="icone"></div>
            <div class="conteudo">
              <h3>MULTIPLICADOR DE XP</h3>
              <p>Ganha mais 0.1 no seu multiplicador de XP.</p>
              <p>Nivel do multiplicador atual: <span class="quantidade">@Model.existingUser.Upgrade11</span></p>
            </div>
            <form asp-page-handler="IncrementMultiplicadorXpGema">
              <button type="submit" class="botao">@Model.Custo11 G</button>
            </form>
          </div>
        </div>
      </div>
        <!-- Adicione mais telas se necessário -->
    </div>
  </div>

  <div class="divbotaoClick">
    <form asp-page-handler="IncrementMoeda">
    <button type="submit" class="botaoClick"></button>
    </form>
  </div>
    
  <div class="div2">
    <div class="container2">
      <div class="textprofile">
        <p>@Model.UsuarioNome <br> Level:@Model.Level</p>  
      </div> 
      <div class="valores">
        <div class="moedas">
          <p>@Model.Moeda</p>  
        </div>
        <div class="diamantes">
          <p>@Model.Diamante</p>  
        </div>
        <div class="gemas">
          <p>@Model.Gema</p>  
        </div>
      </div> 

    <div class="menu">
        
        <a class="menu-item" href="#" onclick="logout()">Log Out</a>
    </div>

    <div class="ajuste">
      <div class="image-container4">
        <img src="~/img/moeda.png" alt="moedas" >
      </div>
      <div class="image-container5">
        <img src="~/img/diamante.png" alt="moedas" >
      </div>
      <div class="image-container6">
        <img src="~/img/gema.png" alt="moedas" >
      </div>
    </div>

    @foreach (var slime in Model?.Slimes ?? new List<main.SlimeData>())
    {
        <div class="slime slime-@slime.X" style="left: @(slime.X)%; margin-top: 15%; transform: scale(0.22); position: absolute">
            <img src="~/img/@slime.ImageFileName" alt="Slime Image" onclick="zoomImage(this)">
        </div>
    }
    <div class="profile-icon" onclick="toggleMenu()">
      <i class="fas fa-user-circle"></i>
    </div>
  </div>

  <!-- Seus outros elementos HTML aqui -->
</div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="~/js/main.js" asp-append-version="true"></script>
</body>