@page
@model slimeTAP.Pages.Rank.Rank
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<h2>Ranking de Moeda</h2>
<ol>
    @foreach (var usuario in Model.MoedaRank)
    {
        <li>@usuario.UsuarioNome - Moeda: @usuario.MoedaTotal</li>
    }
</ol>

<h2>Ranking de XP</h2>
<ol>
    @foreach (var usuario in Model.XpRank)
    {
        <li>@usuario.UsuarioNome - XP: @usuario.Xp</li>
    }
</ol>
